* {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 907px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.back {
    text-decoration: none;
    color: #FFFFFF;
}

.box {
    height: 80%;
    width: 80%;
    background-color: #042B99;
    border-radius: 25px;
}

.logo {
    height: 150px;
    width: 150px;
}

.tombolreset{
    width: 6%;
    height: 3%;
    color: white;
    background-color: #3F58AC;
    margin-top: 1%;
    margin-left: 3%;
    border-radius: 10px;
}

.tombolreset:hover{
    background-color: #3F58AC;
}

.tulisan{
    font-size: 25px;
    line-height: 1.4;
    letter-spacing: 3px;
    margin-top: 3%;
    margin-left: 3%;
    color: antiquewhite;
}

.tulisan h1{
    margin-left: 50px;
    display: flex;
    margin-top: -60px;
}

.tulisan i{
    font-size: 50px;
    display: flex;
    cursor: pointer;
}

.input{
    width:20%;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 2px solid #4e51fd;
    margin-left: 3%;
    border-radius: 10px;
}

.kembali{
    margin-left: 3%;
    color: antiquewhite;
}