@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Gaegu&display=swap');

* {
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Gaegu', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.item .active {
    color: #27398E;
  }

.navbarBackground {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 1;
}

.topnav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #27398E;
}

.logo {
    height: 60px;
    width: 60px;
}

.item {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
li {
    display: inline;
}

.item a {
    margin-right: 40px;
    color: #7E7E7E;
    text-decoration: none;
}

.cart {
    margin-left: 40px;
}

.searchBar {
    height: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px grey;
    border-color: #FFFFFF;
    margin-right: 40px;
}

.allProducts {
    height: 150px;
    width: 100%;
    display: flex;
    background-color: #27398E;
    position: absolute;
    top: 140px;
    justify-content: space-between;
    align-items: center;
}

.allProducts h {
    font-size: 35px;
    margin-left: 5%;
    color: #FFFFFF;
}

.orderStatus {
    position: absolute;
    width: 90%;
    display: flex;
    top: 350px;
}

.orderStatus a {
    font-size: 25px;
    margin-bottom: 20px;
    margin-right: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #7E7E7E;
}

.orderStatus .active {
    color: #27398E;
  }

.order {
    height: 675px;
    width: 90%;
    position: absolute;
    top: 400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    border-top: 4px solid #27398E;
    border-bottom: 4px solid #27398E;
}

.orderDetail {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.orderItems {
    height: 210px;
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    border-bottom: 4px dotted #27398E;
}

.itemPicture {
    height: 100px;
    width: 100px;
    margin-right: 25px;
}

.itemDetail h{
    font-size: 35px;
    margin-bottom: -2px;
}

.status, .statusCompleted {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.status i, .statusCompleted i {
    font-size: 20px;
    margin-right: 15px;
}

.status div {
    height: 20px;
    width: 80px;
    background-color: #faa330;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statusCompleted div {
    height: 20px;
    width: 80px;
    background-color: #A5FE85;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status .fa-check-circle-o {
    display: none;
}

.statusCompleted .fa-clock-o {
    display: none;
}

.itemDetail p{
    margin-top: 0;
    font-size: 20px;
}

.viewOrderDetail, .viewCompletedOrderDetail {
    align-self: flex-end;
    margin-left: auto;
    margin-bottom: 20px;
}

.viewOrderDetail .btn2 {
    display: none;
}

.btn1 {
    height: 40px;
    width: 150px;
    font-size: 20px;
    background-color: #27398E;
    border-color: #27398E;
    border-radius: 50px;
    margin-right: 20px;
}

.btn2 {
    height: 40px;
    width: 150px;
    font-size: 20px;
    background-color: #FFFFFF;
    border-color: #27398E;
    border-radius: 50px;
    margin-right: 20px;
}

.btn1 a {
    color: #FFFFFF;
    text-decoration: none;
}

.btn2 a {
    color: #27398E;
    text-decoration: none;
}

.footer {
    position: absolute;
    top: 1200px;
    display: flex;
    background-color: #27398E;
    color: #FFFFFF;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.footer .info h1{
    margin-bottom: 30px;
}

.info p{
    margin-bottom: 8px;
    color: #FFFFFF;
}

.link{
    color: #FFFFFF;
}

.footer .company h1{
    margin-bottom: 30px;
}

.company p{
    margin-bottom: 10px;
    cursor: pointer;
}

.company h1, .company p {
    margin-bottom: 10px; 
}

.contactUs {
    color: #ffffff; 
}

.footer .uptodate h1{
    margin-bottom: 30px;
}

.input{
    border-radius: 5px;
}

.footer h1 {
    font-size: 22px;
}

.company, .uptodate, .info {
    height: 180px;
}

.sims {
    display: flex;
}

.sims i {
    margin-left: 20px;
}