@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Gaegu&display=swap');

* {
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Gaegu', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.active {
    color: #27398E;
  }

.navbarBackground {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 1;
}

.topnav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #27398E;
}

.logo {
    height: 60px;
    width: 60px;
}

.item {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
li {
    display: inline;
}

a {
    margin-right: 40px;
    color: #7E7E7E;
    text-decoration: none;
}

.cart {
    margin-left: 40px;
}

.searchBar {
    height: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px grey;
    border-color: #FFFFFF;
    margin-right: 40px;
}

.bestSeller {
    height: 220px;
    width: 90%;
    display: flex;
    position: absolute;
    top: 100px;
    justify-content: center;
    border-bottom: 4px solid #27398E;
}

.image {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
}

.text {
    height: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    text-align: justify;
}


.text h {
    font-size: 20px;
    color: #FAA330;
}

.text p {
    font-size: 14px;
    margin-top: 10px;
}

.next {
    margin-top: 50px;
    align-self: center;
}

.fa-circle {
    margin-left: 4px;
    color: #FCD8CA;
}

.fa-chevron-circle-right, .fa-chevron-circle-left {
    margin-left: 4px;
    color: #F37461;
}

.productList {
    height: 470px;
    width: 90%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 110px;
}

.blueRanger {
    display: flex;
    justify-content: space-between;
}

.productCategory {
    font-size: 20px;
}

.productCategory ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
.productCategory li {
    display: inline;
}

.productCategory a {
    margin-right: 40px;
    color: #7E7E7E;
    text-decoration: none;
}

.productCategory .active {
    color: #27398E;
}

.redRanger {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
    top: 32px;
    align-items: center;
}

.product {
    height: 160px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px grey;
    border-color: #FFFFFF;
    margin-top: 14px;
    display: flex;
    align-items: center;
}

.haiya {
    height: 80%;
    width: 15%;
    border-right: 2px solid #FCD8CA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture {
    height: 100px;
    width: 100px;
}

.desc {
    height: 90%;
    width: 60%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 32px;
}

.desc h {
    color: #27398E;
    font-weight: bold;
}

.desc p {
    margin-top: 8px;
}

.order {
    height: 32px;
    width: 90px;
    border-radius: 25px;
    background-color: #F37461;
    color: #FFFFFF;
    border-color: #FFFFFF;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 14px;
    margin-right: 24px;
}

.footer {
    position: absolute;
    margin-top: 740px;
    display: flex;
    background-color: #27398E;
    color: #FFFFFF;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.footer .info h1{
    margin-bottom: 30px;
}

.info p{
    margin-bottom: 8px;
    color: #FFFFFF;
}

.link{
    color: #FFFFFF;
}

.footer .company h1{
    margin-bottom: 30px;
}

.company p{
    margin-bottom: 10px;
    cursor: pointer;
}

.company h1, .company p {
    margin-bottom: 10px; 
}

.contactUs {
    color: #ffffff; 
}

.footer .uptodate h1{
    margin-bottom: 30px;
}

.input{
    border-radius: 5px;
}

.footer h1 {
    font-size: 22px;
}

.company, .uptodate, .info {
    height: 180px;
}

.sims {
    display: flex;
}

.sims i {
    margin-left: 20px;
}